<h3>Check Out</h3>
  <%= form_for @user do |f| %>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input id="title" type="text" class="validate">
          <label>First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input id="price" type="text" class="validate">
          <label>Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input disabled value="Credit card: 1234 5678 9101 2131" id="disabled" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input disabled value="CVV: 123" id="disabled" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input disabled value="EXP: 12/22" id="disabled" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s1">
        <input disabled value="Shipping/Billing Address: 1 Los Angeles Ave. Los Angeles, CA 90210" id="disabled" type="text" class="validate">
      </div>
    </div>
       
  <div class="submit-check" >
      <button id="checkout-submit">
      <%= link_to "Submit", root_path %>
      </button>
  </div>

<% end %>


