<h3> Your Orders </h3>

<table class="highlight" id="your_orders">
    <div class="col s8">
        <thead>
            <tr>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        <% total = 0 %>
        <% @orders.each do |order| %>
            <tr>
                <td><%= link_to order.updated_at.to_formatted_s(:long), order_path(order) %></td>
            </tr>
        <% end %>
        </tbody>
        </div>
</table>