/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #eee9e9;
    color: #cdb79e;
    font-family: 'Fresca', sans-serif;
}

h1 {
    font-family: 'Fresca', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

h3 {
    padding: 20px;
    font-weight: 600;
}

h4 {
    padding: 50px;
    padding-right: 50px;
    font-weight: 500;
    float: center;
}

label {
    padding: 20px;
    font-size: 20px;
}

#cart {
    padding: 0 10px;
}

#cart:hover, #upload:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#email {
    margin: 0 50px;
    padding: 5px;
}

#password {
    margin: 0 15px;
    padding: 5px;
}

#user_first_name {
    margin: 0 97px;
} 

#user_last_name {
    margin: 0 98px;
}

#user_email {
    margin: 0 140px;
}

#user_password {
    margin: 0 106px;
}

.actions {
    text-align: center;
    padding: 50px;
}

.submit-check {
    text-align: center;
    padding: 50px;
}

input[type=submit], #checkout-submit {
    width: 10em;  height: 3em;
}

#user_image {
    padding: 20px;
    color: #cdb79e; 
}

#notice {
    text-align: center;
    font-size: 20px;
}

#first_name {
   margin: 0px 102px; 
}

#last_name {
    margin: 0px 103px;
}

#c-c {
    margin: 0px 99px;
}

#cvv {
    margin: 0px 158px;
}

#exp {
    margin: 0px 163px;
}

#address-two {
    margin: 0px 233px;
}

a {
    color: #cdb79e;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

a:hover {
    color: #777;
}

.notice, #alert {
    text-align: center;
    font-size: 15px;
}

#welcome {
    padding: 10px;
}

ul, li {
    float: right;
    list-style-type: none;
}

img {  
    height: 100px;
    padding: 20px;
    padding-bottom: 20px; 
}

.nav {
    padding: 0px 15px;
}

#settings {
    padding-right: 15px;
}

.img-responsive, img {
     border: 6px solid white; 
}

.space {
    margin: 10px; 
    padding: 5px;
}
