<p id="notice"><%= notice %></p>

<div class="row">
    <div class="flex-inner">
        <% @products.each do |product| %>
            
            <div class="images">
                <%= link_to image_tag(product.image.url, :class => "img-responsive", :width => "275"), product_path(product) %>
            </div>

        <% end %>
    </div>
</div>

